body {
  margin: 0;
  padding: 0;
}

.slider-container {
  display: flex;
  height: 60vh;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.slider-container .item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 10%;
  margin: 0 5px;
  transition: width 1s ease-in-out;
}

.slider-container .item.active {
  width: 60%;
}

.slider-container .item:first-child {
  margin-left: 0;
}

.slider-container .item:last-child {
  margin-right: 0;
}

.slider-container .item .title-container {
  display: none;
}

.slider-container .item.active .title-container {
  display: flex;
}
